    {% render "_header.html" %}<div class="content-wrap">
      <div id="wsite-content" class="wsite-elements wsite-not-footer">
	<div class="wsite-section-wrap">
	<div class="wsite-section wsite-body-section wsite-background-76" style="height: auto;" >
		<div class="wsite-section-content">
        <div class="container">
			<div class="wsite-section-elements">
				<div class="wsite-scribd">


				<div id="267601113351169741-pdf-fallback" style="display: none;">
					Your browser does not support viewing this document. Click <a href="uploads/6/4/9/4/64940231/spens_25-26__2_.pdf" target="_blank" rel="noopener noreferrer">here</a> to download the document.
				</div>
				<div id="267601113351169741-pdf-embed" style="display: none; height: 750px;">
				</div>

				<script type="text/javascript">
					(function () {
						if (window.wpdf && window.wpdf.supportsPDFs && window.wpdf.isPDF('/uploads/6/4/9/4/64940231/spens_25-26__2_.pdf')) {
							var embed = document.getElementById('267601113351169741-pdf-embed');
							embed.style.display = 'block';
							window.wpdf.embed('/uploads/6/4/9/4/64940231/spens_25-26__2_.pdf', embed);
						} else {
							var fallback = document.getElementById('267601113351169741-pdf-fallback');
							fallback.style.display = 'block';
						}
					})();
				</script>
			</div>
			</div>
		</div>
      </div>

	</div>
</div>

</div>

    </div><!-- end content-wrap -->

  {% render "_footer.html" %}
