    </div><!-- end banner-wrap -->

    {% render "_header.html" %}<div class="content-wrap">
      <div id="wsite-content" class="wsite-elements wsite-not-footer">
	<div class="wsite-section-wrap">
	<div class="wsite-section wsite-body-section wsite-background-35"  >
		<div class="wsite-section-content">
        <div class="container">
			<div class="wsite-section-elements">
				<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -10px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:34.043290748005%; padding:0 10px;">

                                  <img src="/uploads/6/4/9/4/64940231/s371663783442606631_p30_i3_w1080.png" width="340" />

			        </td>
				<td class="wsite-multicol-col" style="width:34.043290748005%; padding:0 10px;">

                                  <paypal-add-to-cart-button data-id="JDGRPVVG8AVSN"></paypal-add-to-cart-button>
<script>
  cartPaypal.AddToCart({ id: "JDGRPVVG8AVSN" })
</script>

</td>

                        </tr>

		</tbody>
	</table>
</div></div></div>
			</div>
		</div>
      </div>

	</div>
</div>

</div>

    </div><!-- end content-wrap -->

     {% render "_footer.html" %}
